@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you want  Delete !?</h1>

<form asp-action="Delete">
<div>
    <label asp-for="Code" class="col-form-label"></label>
    <input type="text" asp-for="Code" class="form-control" readonly />

</div>

<div>
    <label asp-for="Name" class="col-form-label"></label>
    <input type="text" asp-for="Name" class="form-control" readonly />

</div>

<div>
    <label asp-for="DateOfCreation" class="col-form-label"></label>
    <input type="text" asp-for="DateOfCreation" class="form-control" readonly />

</div>
    <input type="submit" value="Delete" class="btn btn-danger mt-5" />
    <a asp-action="Index" class="btn btn-light mt-5">Cancle</a>
</form>